<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Tatiana Barahona | Estudiante | Ingeniería de Negocios</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

  <header>
    <div class="container">
      <nav>

        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/foto.jpg" alt="Tatiana Barahona" class="foto nav-link" />
              <span class="caption nav-link">Tatiana Barahona</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">Sobre mí</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Historial académico</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Trabajo comunitario</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contacto</a>
          </li>
    </div>
    </ul>
    </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Tatiana Barahona</h2>
          <h3>{Ingeniería de Negocios}</h3>
          <p>Gestión de proyectos y Desarrollo sostenible</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Contacto</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">Experiencia en voluntariados</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/foto.jpg" alt="Tatiana Barahona" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>Un poco sobre mí</h2>
          <p>
            Soy una persona resiliente y tengo un alto nivel de adaptación ante las dificultades. Aprendo rápido y busco
            hacer mi trabajo de forma óptima y efectiva.
          </p>
          <p>
            Mis áreas de interés son la gestión de proyectos de beneficio social y desarrollo sostenible. Mi interés por
            mejorar el mundo que nos rodea y la vida de los demás es mi mayor motor al momento de realizar un trabajo.
          </p>
        </div>
      </div>
      <hr />
    </section>

    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>Historial académico</h2>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <h2>ESEN (2019-)</h2>
            <p>
              Escuela Superior de Economía y Negocios
            </p>
            <p>3° año de Ingeniería de Negocios</p>
          </div>
          <div class="tier-item">
            <h2>CECAM (2016-2018)</h2>
            <p>Centro Escolar Católico Alberto Masferrer</p>
            <p>
              Bachillerato Técnico Vocacional Opción Contador
            </p>
          </div>
          <div class="tier-item">
            <h2>ASEx (2013-2016)</h2>
            <p>
              Academias Sabatinas Experimentales en Ciencia y Tecnología de la Comunicación
            </p>
          </div>
          <!-- 
                <div class="tier-item">
                  <i class="fa fa-file-code-o" aria-hidden="true"></i>
                  <h2>PSD to HTML</h2>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
                    quasi earum, debitis exercitationem quod labore quae, saepe
                    voluptatum fugiat placeat iste, numquam maxime? Aliquam
                    explicabo, reiciendis corrupti voluptatum eum esse?
                  </p>
                </div>
                -->
        </div>
      </div>
      <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>Trabajo comunitario</h2>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/probecas.png" />
        </div>
        <div class="project-description">
          <h2>Asociación ProBecas (2019-)</h2>
          <p>
            Subdirectora de Recursos Humanos
          </p>
          <p>La principal responsabilidad de este puesto es la organización de los voluntarios para el evento más grande
            de la asociación, la Carrera ProBecas. Además, he sido encargada del proceso de reclutamiento de nuevos
            miembros y de
            mantener un registro detallado de los miembros activos.</p>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Programa de Institutos Nacionales(2019-)</h2>
          <p>
            Este programa busca preparar a estudiantes de institutos nacionales para tomar el examen de ingreso a la
            ESEN. Entre mis responsabilidades están el reclutamiento de alumnos, preparación de material educativo,
            organización de algunas sesiones y dar clases.
          </p>
        </div>
        <div class="project-img">
          <img src="/static/images/institutos.jpg" />
        </div>
      </div>

      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/ases.jpg" />
        </div>
        <div class="project-description">
          <h2>Asociación de Scouts de El Salvador(2013-)</h2>
          <p>
            Como miembro activo de esta asociación, he participado en diferentes proyectos de ayuda a la comunidad,
            desde la organización hasta la realización de estos. Algunos temas en los que se han enfocado son
            reforestaciones, limpieza de bosques y playas, recolección de material educativo, mejora a infraestructuras
            de escuelas, entre otros.
          </p>
        </div>
      </div>
      <hr />
    </section>


    <section id="contact" class="contact">
      <h2>Información de contacto</h2>
      <div class="container">
        <p>
          <a href="mailto:tatianabarahona57@gmail.com"><i class="fas fa-envelope-open"></i>
            tatianabarahona57@gmail.com</a>
        </p>
      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#about" class="footer-nav-link">Sobre mí</a>
        <a href="#services" class="footer-nav-link">Historial académico</a>
        <a href="projects" class="footer-nav-link">Trabajo comunitario</a>
        <a href="#contact" class="footer-nav-link">Contacto</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> with 💙 by Chaoo Charles &copy; 2020
        </p>
        <p>Built with pure HTML, CSS and JavaScript</p>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>